.content{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
h3{

    margin: 10px;

}

.center1{
height: 100px;
width: 100px;
background-color: rgb(24, 12, 128);
border-radius: 100px;
position: relative;
left: 0;
right:0;
top: 0;
bottom:0;
}

.morir{

background-color: crimson;
    
}


